.game-main-title-container{
  display: flex;
  justify-content: center;
  margin: 10px;
  
  
}

.main-body-content {
  display: flex;
  background-image: url("../images/background.png");
  background-size: initial;
  flex-direction: column;
  align-items: center;
}

.game-main-title{
  font-family: 'Tangerine', cursive;
  color: blue;
  font-size: 46px;
  font-weight: 200;
}

.canvas-container{
  position: relative;
  height: 500px;
  width: 1000px;
  margin: 0 auto;
  border: 1px solid darkblue;
  border-radius: 3px;
  box-shadow: rgb(157, 129, 255) 0px 3px 3px;
  
}

.canvas {
  box-sizing: border-box;
  display: block;
  position: absolute;
}

.score-timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: "Raleway", 
}

.score-timer {
  border: 1px solid rgb(93, 173, 223);
  background: lightskyblue;
  border-radius: 3px;
  padding: 5px;

}

.score-title {
  font-size: 14px;
}

.nav-links-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1000px;
  margin: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.nav-link {
  padding: 10px;
  color: blue;
  font-weight: 300;
}

.nav-link:hover {
  text-decoration-line: underline;
}